.rightSidebar {
    display: none;
    padding: 5px 0;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 100%;

    @media (min-width: 900px) {
        display: block;
    }

    @media (min-width: 1200px) {
        max-width: 350px;
    }
}

.searchBar {
    position: relative;
    margin-bottom: 16px;
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #71767B;
    font-size: 14px;
}

.searchInput {
    width: 100%;
    padding: 12px 12px 12px 32px; /* Adjusted padding for icon */
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #242526;
    color: #e1e1e1;
    font-size: 14px;
    outline: none;

    &:focus {
        border: 2px solid #1da1f2;
    }
}

.searchInput::placeholder {
    color: #71767B;
}

.upgradeBanner {
    border: 1px solid #242526;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 16px;
    text-align: left;
    position: relative;
}

.upgradeContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upgradeContent h2 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 8px;
}

.upgradeContent p {
    font-size: 15px;
    margin-bottom: 12px;
    color: white;
}

.upgradeButton {
    background-color: #1da1f2;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 60%;
    text-align: center;
}

.trending {
    border: 1px solid #242526;
    padding: 16px 0;
    border-radius: 12px;
    margin-bottom: 16px;

    & h2 {
        margin-left: 16px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 900;
    }
}

.trendingList {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
        padding: 12px 16px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #1a1a1a;
        }
    }
}

.trendInfo h3 {
    margin: 4px 0;
    font-size: 16px;
}

.trendInfo span {
    color: #b0b3b8;
    font-size: 12px;
}

.betaTag {
    background-color: #ffad1f;
    color: #000;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.showMore {
    display: block;
    text-align: center;
    margin-top: 16px;
    color: #1da1f2;
    cursor: pointer;
}

.whoToFollow {
    border: 1px solid #242526;
    padding: 16px 0;
    border-radius: 12px;

    & h2 {
        margin-left: 16px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 900;
    }
}

.followList {
    list-style: none;
    padding: 0;
    margin: 0;


    & li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #1a1a1a;
        }
    }
}

.userInfo {
    display: flex;
    align-items: center;


    & img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 8px;
    }

    & h3 {
        margin: 0;
        font-size: 14px;
    }

    & span {
        color: #b0b3b8;
        font-size: 14px;
    }
}

.followButton {
    background-color: white;
    color: #000;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.footerLinks {
    margin-top: 16px;
    font-size: 12px;
    color: #b0b3b8;
    text-align: center;

    a {
        color: #b0b3b8;
        text-decoration: none;
        margin: 4px;
    }

    p {
        margin-top: 8px;
        font-size: 12px;
    }
}
